<h4>I will ..</h4>
<div>
    <mat-list *ngFor="let habit of habits">
        <mat-list-item>{{propertiesStingBuilder(habit)}}</mat-list-item>
        <div style="display: flex;justify-content: space-between;width: 100%;align-items: center">
            <button mat-stroked-button (click)="pauseHabit(habit)">
                <i *ngIf="habit.active" class="material-icons" >pause</i>
                <i *ngIf="!habit.active" class="material-icons" >play_arrow</i>
                {{!habit.active ? "Unpause" : "Pause"}}
            </button>
            <button mat-stroked-button (click)="deleteHabit(habit)" style="display: flex;justify-content: space-between;align-items: center">
                <i class="material-icons" >delete_forever</i>
                Delete
            </button>
        </div>
    </mat-list>
</div>